/*This part is the header*/
#top{
    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none; 
      
}
#top li{
float: right;
padding: 20px;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;;


}
#top li a{
text-decoration: none;
text-align: right;
color: #000000;
}
#Location li a{
text-decoration: none;
list-style: none;
color: #000000;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;;
padding: 15px;
text-align: left;

}

#Location{
margin: left;
padding: 15px;
list-style: none;


}
#Location li a{
font-family: "Satisfy", cursive;
font-weight: 400;
font-style: normal;
font-weight: bold;
font-size: 30px;
}

/*
1. Link Hover is here 
*/  
#link {
    padding: 10px;
    margin: 0 auto; /* Centers the element horizontally */
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center; /* Centers the text within the container */
  }
  
  #link a {
    color: #000000;
    text-decoration: none;
    padding: 8px;
    display: inline-block; /* Change from flex to inline-block */
  }
  
  #link a:hover {
    background-color: rgb(136, 136, 136);
  }







/*This is made using a grid and mobile responsive*/
.container{
    background-color: antiquewhite;
    padding: 15px 9%;

}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color: #0d5192;
    text-shadow: 0 5px 10px rgba(0,0,0, .2);
    font-size: 50px;
    font-family:"Caveat", cursive;
    font-optical-sizing: auto;
    font: weight 400px;;
    font-style: normal;
    font-size: 70px;

}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 15px;

}


.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0, .2);
    border-radius: 5px;
    background-color: #373737;
    text-align: center;
    padding: 30px 20px;
}

/*.container .box-container .box img{
    

}*/

.container .box-container .box h3{
    color: rgb(177, 247, 56);
    font-size: 22px;
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .box-container .box p{
    color: rgb(255, 255, 255);
    font-size: 15pxpx;
    line-height: 1.8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container .box-container .box .btn:hover{
    color:rgb(177, 247, 56);
    background-color: rgb(0, 0, 0);

}

.container  .box-container .box:hover{
    box-shadow: 0 5px 10px rgba(0,0,0, .3); 
    transform: scale(1.03);
}

#bag{
    background-color: antiquewhite;
}

#topic{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 50px;
    color: #093a7d;
}

#main{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size:medium;
}

@media (max-width:768px){
    .container{
        padding: 20px;
    }
}


/* This area is the footer css this part has been mobile ]
  responsive */
  #footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
  }
  #icon{
    display: flex;
    justify-content: center;
    
    
  }
#icon i{
    text-decoration: none;
    padding: 10px;
    background-color: aqua;
    margin: 10px;
    border-radius: 50%;
    font-size: 20px;
    
}
#icon i:hover{
    background-color: #093a7d;
    transition: 0.5s;
} 

#icon i:hover{
    color: #fff;
    transition: 0.5s;
} 

#fnav{
    margin: 30px o;
}
#fnav ul{
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;;
    list-style: none;

}
#fnav ul li a{
    color: #ffffff;
    margin: 20px;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s;

}
#fnav ul li a:hover{
    opacity: 1;
}

#fbot{
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

#fbot p{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#fb{
    background-color: #093a7d;
}

@media(max-width:700px){
    #fnav ul{
        flex-direction: column;
    }
    #fnav ul li a{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}